.headerProducto {
    display: flex;
    justify-content: space-between;
    background-color: #545776;
}

.iconBack {
    text-decoration: none;
    color: white;
    font-size: 3em;
}

.categoriaProducto>h3 {
    color: white;
    margin: 0 ;
}

.categoriaProducto>h2 {
    color: white;
    margin: 0 ;
}

.categoriaProducto {
    margin: 1em 1em;
}

.linkBack {
    display: flex;
    align-items: center;
    padding-right: 1em;
}