.categorias {
    background-color: #fff;
}

.banner-cat-autos {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .banner-cat-autos {
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    .banner-cat-autos {
        flex-direction: column;
    }
}