    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 110px;
        top: 0;
        background-color: white;
    }

    .logoDH {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    .eslogan {
        color: #545776;
        font-style: italic;
        padding-left: 1rem;
        margin: 0;
    }

    .menuButton {
        display: none;
    }

    @media only screen and (max-width: 624px) {

    header {
        top: 0;
        left: 0;
        background-color: white;
        z-index:99;
        position: fixed;
        width: 100%;
        height: 110px;
    }

    .eslogan , .barra{
        display: none;
    }

    }
    .avatar{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .usuario-actual{
        display: flex;
        align-items: center;
    }
    .usuario-actual .cerrar-sesion{
        display: flex;
        align-items: center;
    }
    .usuario-actual div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .usuario-actual p{
        margin: 10px;
        text-align: center;
    }
    .usuario-actual .cerrar-sesion p{
        margin: 0;
        margin-right: 5px;
        background-color: #1DBEB4;
        color: white;
        cursor: pointer;
        padding: 0.3em;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.7em;
    }

    .usuario-actual .cerrar-sesion p:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }