.overlayShow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    
    
}

.overlay{
    display: none;
    border: 1px solid black;
}